body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(44, 139, 44);
    background-color: rgba(253, 253, 253, 0.616);
}

